/* header style   */

.brickbuild-header>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
    padding: 10px;
}

.nav-home {
    color: aqua;
    list-style: none;
    display: flex;
    justify-content: left;
    text-align: center;
}

.nav-home>li {
    padding-left: 20px;
}

.brickbuild-list {
    text-decoration-line: none;
    color: rgb(30, 63, 97);
    font-size: 30px;
    font-weight: bolder;
    margin-right: 20px;
}

.nav-sign {
    list-style: none;
    display: flex;
    justify-content: left;
    text-align: center;
    margin-right: 10px;
}

.nav-sign>li {
    padding-left: 20px;
}

.signin-list {
    text-decoration-line: none;
    color: aqua;
}

.register-list {
    text-decoration-line: none;
    background-color: rgb(30, 63, 97);
    color: aqua;
    margin: 2px;
    padding: 8px;
    border: 2px solid rgb(30, 63, 97);
    border-radius: 10px;

}

.about-section {
    padding-top: 20px;
    background-color: #E6F0FF;
}

.about-brickbuild {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-text {
    padding: 140px 60px;
    text-align: left;
}

.about-text>p {
    color: aqua;
}

.about-heading {
    font-size: 50px;
}

.about-button {
    background-color: rgb(30, 63, 97);
    color: aqua;
    margin: 2px;
    padding: 8px;
    border: 2px solid rgb(30, 63, 97);
    border-radius: 10px;
}

.client-logo-section {
    margin: 20px;
    padding: 40px;
}

.review {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
}

.review-text {
    text-align: left;
}

.review-text>h1 {
    color: rgb(30, 63, 97);
}

.review-text>p {
    color: aqua;
}

.review-image {
    text-align: right;
}

.review-image>p {
    color: aqua;
}

.review-logo {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 40px;
    padding-left: 60px;

}

.how-it-works-section {
    margin: 20px;
    padding: 40px;
}

.how-it-works-text {
    text-align: center;
}


.how-it-works-text>h2 {
    color: rgb(30, 63, 97);
}


.how-it-works-text>p {
    color: aqua;
}

.how-it-works-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.vector-one {
    display: flex;
    justify-content: space-between;
    color: aqua;
}


.vector-text-one {
    margin: 0px;
    padding-right: 10px;
}

.vector-two {
    display: flex;
    justify-content: space-between;
    color: aqua;
}


.vector-text-two {
    margin: 0px;
    padding-right: 10px;
}

.vector-three {
    display: flex;
    justify-content: space-between;
    color: aqua;
}


.vector-text-three {
    margin: 0px;
    padding-right: 10px;
}

.how-it-works-button {
    background-color: rgb(30, 63, 97);
    color: aqua;
    margin: 2px;
    margin-left: 600px;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid rgb(30, 63, 97);
    border-radius: 10px;
}

.feature-section {
    margin: 20px;
    padding: 40px;
    background-color: #F5FAFE;
}

.feature-header {
    text-align: left;


}

.feature-text {
    text-align: right;
    display: flex;
    justify-content: center;


}

.feature-text-vector {
    margin: 0px;
    padding-right: 10px;
    margin-right: 10px;
    color: aqua;
}

.feature-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.feature-image {
    display: flex;
    justify-content: space-between;
}

.feature-icon-one {
    display: flex;
    justify-content: space-between;
}

.feature-icon-two {
    display: flex;
    justify-content: space-between;
}

.feature-icon-three {
    display: flex;
    justify-content: space-between;
}


.icon-text-one {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-bed-one {
    margin: 0px;
    padding-left: 10px;
}




.icon-text-two {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.icon-both-one {
    margin: 0px;
    padding-left: 10px;
}

.icon-text-three {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-sqft-one {
    margin: 0px;
    padding-left: 10px;


}

.icon-two-text-one {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-bed-two {
    margin: 0px;
    padding-left: 10px;
}

.icon-two-text-two {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-both-two {
    margin: 0px;
    padding-left: 10px;
}

.icon-two-text-three {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-sqft-two {
    margin: 0px;
    padding-left: 10px;
}

.last-text-icon-one {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-bed-three {
    margin: 0px;
    padding-left: 10px;
}

.last-text-icon-two {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-both-three {
    margin: 0px;
    padding-left: 10px;
}

.last-text-icon-three {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.icon-sqft-three {
    margin: 0px;
    padding-left: 10px;
}

.feature-two-section {
    margin: 20px;
    padding: 40px;
}

.feature-two-header {
    display: flex;
    justify-content: center;
}

.feature-two-header-text {
    font-size: 20px;
}

.feature-two-header-h1 {
    font-size: 50px;
}

.feature-two-sold {
    display: flex;
    justify-content: space-between;

}

.sold-h-one {
    font-size: 70px;
}

.sold-h-two {
    font-size: 70px;
}

.sold-h-three {
    font-size: 70px;
}

.sold-p-one {
    font-size: 20px;
}

.sold-p-three {
    font-size: 20px;
}

.sold-p-three {
    font-size: 20px;
}

.newsletter-section {
    margin: 20px;
    padding: 40px;
}

.newsletter-about {
    background-color: #063183;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.newsletter-text {
    color: aqua;
    margin-top: 90px;
    /* font-size: 50px; */
}

.newsletter-text>h3 {
    font-size: 50px;
}

.newsletter-text>p {
    margin-top: 1px;
}

.newsletter-button {
    background-color: rgb(37, 118, 199);
    color: aqua;
    margin: 2px;
    padding: 8px;
    border: 2px solid rgb(30, 63, 97);
    border-radius: 10px;
}

.footer-section {
    margin: 20px;
    padding: 40px;
}

.footer-list>ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    list-style: none;
}

.footer-list>ul>div>li {
    padding: 10px 0px 10px 0px;
}

.footer-list>ul>div>h5 {
    font-size: larger;
    color: burlywood;
}

.footer-list>ul>div>li>a {
    text-decoration-line: none;
    color: aqua;
}

.footer-list>ul>div>p {
    color: aqua;
}

.footer-list>h5 {
    font-size: 50px;
}

.footer-name {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-name>div>h3 {
    color: burlywood;
}

.footer-name>div>p {
    color: burlywood;
}