/* header style   */

.brickbuild-header>ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-home {
    color: aqua;
    list-style: none;
    display: flex;
    justify-content: left;
    text-align: center;
}

.nav-home>li {
    padding-left: 30px;
}

.brickbuild-list {
    text-decoration-line: none;
    color: aqua;
    font-size: 20px
}

.nav-sign {
    list-style: none;
    display: flex;
    justify-content: left;
    text-align: center;
}

.nav-sign>li {
    padding-left: 40px;
    margin-right: 10px;
}

.signin-list {
    text-decoration-line: none;
    color: aqua;
}

.register-list {
    text-decoration-line: none;
    color: aqua;
}